/*----style.css----*/

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}


/*----Header----*/
.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

.header-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-two {
    display: flex;
    justify-content: center;
    align-items: center;
}
#Hero-Main-Text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

#subtext, a {
    font-size: 18px;
    color: #E5E7EB;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

ul {
    display: flex;
}

/*----Section Two----*/
.section-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-two-two{
    display: flex;
    flex-direction: row;
    
}

#square {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
    width: 200px;
    height: 150px;
}
/*----Section Three----*/
.section-three {
    background-color: #E5E7Eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-three-three {
    color: #1F2937;
    font-style: italic;
    font-size: 36px;

}

.section-three-four{
    font-weight: 900;
}

/*----Section Four----*/
.section-four {
    display: flex;
    justify-content: center;
    align-items: center;
}

#blue-box {
  border-radius: 25px;
  background: #3882F6;
  padding: 20px;
  width: 1200px;
  height: 150px;
}
/*----Footer----*/
.footer {
    display: flex;
    background-color: #1F2937;
}
